/*****************************************/
/*基础header颜色*/
.bc-head {
    background-color: #a4046b;
}
/*****************************************/
/*基础body背景颜色*/
.bc-bg {
    background-color: #f0f0f0;
}
/*辅助控件背景颜色*/
.sc-bg {
    background-color: #a4046b;
}
/*辅助控件背景颜色*/
.sc-bg-active {
    background-color: #c868a6;
}
/*警告背景色*/
.sc-bg-alert {
    background-color: #F16412;
}
/*****************************************/
/*基础字体颜色*/
.bc-text {
    color: #323232;
}
/*基础标题字体颜色*/
.bc-text-head {
    color: white;
}
/*辅助字体颜色*/
.sc-text {
    color: #646464;
}
/*辅助字体颜色*/
.sc-text-active {
    color: #fff !important;
}
/*辅助字体颜色*/
.sc-text-hint {
    color: #E3E3E3;
}
/*辅助字体颜色*/
.sc-text-warn {
    color: #FC7800;
}
/*辅助字体颜色*/
.sc-text-tab {
    color: #c868a6;
}
/*****************************************/
/*基础边框颜色*/
.bc-border {
    border-color: #BABABA;
}
/*辅助边框颜色*/
.sc-border {
    border-color: #FFFFFF;
}
.sc-border-tab {
    border-color: #a4046b;
}
/*****************************************/
/*基础按钮颜色*/
.bc-btn {
    background-color: #007DB8;
}
/*辅助按钮颜色*/
.sc-btn {
    background-color: #00A1EA;
}
.bc_white{ background: #fff;}
.glodcolor{ color: #ff7e2c;}
.redcolor{ color: #fb4b4b;}
.color96{ color: #969696;}
.txtdec{ text-decoration:line-through;}
.zscolor{ color: #382071;}
.lscolor{ color: #a4046b;}
.txthide{ overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;}

.marginr6{ margin-right: 0.6em;}
.marginl6{ margin-left: 0.6em;}
.margint6{ margin-top: 0.6em;}
.marginb6{ margin-bottom: 0.6em;}
.paddingr6{ padding-right: 0.6em;}
.paddingl6{ padding-left: 0.6em;}
.paddingt6{ padding-top: 0.6em;}
.marginb6{ padding-bottom: 0.6em;}
.txthide2{  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;}
