.hs{color: #969696;font-size: 0.9em;padding: 0.3em 1em;}
.bt{padding: 0.5em 1em;border-top:6px solid #F0F0F0;}
.zh{color: #a4046b;}
.bk{height:1em;background: url("../css/myImg/7.png") repeat-x;margin: 0.5em 0;}

.allcheck{ width: 1.5em; height: 1.5em; border-radius: 50%;  border: 1px solid #9d9d9d;}
.mall_img img{ width: 1.5em;}
.check_ok{ width: 1.5em; height: 1.5em; border: 1px solid #a4046b; border-radius: 50%;}

.zf_img{margin: 0.5em 1em;}

.zf{padding:0em 1em;}
.bd_1{border-bottom:6px solid #F0F0F0; padding-bottom: 0.3em;padding-right: 1em;}
.bd_2{border-bottom:1px solid #F0F0F0; padding-bottom: 0.3em;padding-right: 1em;}
.color96{color: #969696;margin-right: 0.4em;}
.qrzf{ padding: 2em 1em;}
.wkt_hs{color: #969696}
.ljjr_zs{color: #382071;}
.ljjr_hs{color: #f6b344;}
.m{padding: 1em 0;}
.qrzf_btn{
	background: #a4046b; height: 2.8em; border-radius: 0.4em; color: #fff;
}

.tranpwd{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#4C000000', endColorstr='#4C000000');background:rgba(0,0,0,0.3);background:rgba(0,0,0,0.4); position: fixed; left: 0; top: 0; width: 100%; height: 100%;}
.tranpwd_main{ margin-left: 2.5em; margin-right: 2.5em; background: #fff; margin-top: 50%; border-radius: 0.4em; }
.tranpwd_top{ background: #fff;  padding: 0 0.4em; border-top-left-radius: 0.4em; border-top-right-radius: 0.4em; height: 2.8em;}
.tranpwd_top img{ width: 1.8em;}
.tranpwd_center{ background: #fff; padding:0.5em 1em 1em 1em;}
.tranpwd_input{ border: 1px solid #DCDEDF;}
.tranpwd_center input{ height: 2.5em; border: 0 none; padding: 0 5px;}
.btn_box{ padding: 0.6em 1em;}