.bg{padding: 1em 1em; background: #FFFFFF;border-top:1px solid #f0f0f0;}
.nr{padding:1em 0; word-wrap: break-word; word-break:break-all;color: #646464;}
.logo img{margin-bottom: 1em;width: 7em;}
.lx img{width: 1.8em; padding: 0.5em 0;margin-right: 0.5em;}
.border{border-bottom: 1px solid #f0f0f0;color: #4d4d4d;}
.jg{height: 6px;background: #f0f0f0;}
