.main_box{ padding-top: 0.6em;}
.input_item{ background: #fff; height: 3em; padding: 0 1em; border-bottom: 1px solid #E1E1E1;}
.pwd_input input{ height: 3em; border: 0 none;}
.margin_r{ margin-right: 1em;}
.input_item02{ margin-bottom: 0.6em;}
.sure_btn{ margin:2em 1em 1em 1em ; background: #a5046c; height: 2.8em; border-radius: 0.4em; color: #fff;}
.find_pwd{ margin-right: 1em;}