.most{margin: 1em; background: #FFFFFF;border-radius: 0.9em }
.cycle{border: 1px solid #a4046b; padding: 0.5em;border-radius: 0.9em 0.9em 0 0em;background: #a4046b;color: #FFFFFF;}
.word{ margin:0.5em 0.6em;border-bottom: 1px solid #c2c2c2; padding: 0.3em 0;}

.zs{color: #A4046B;}

.hs{font-size: 0.9em;color: #d1d1d1;padding: 1em 0.6em;}
.more{padding: 0.5em 0;}
