.message_list{background: #FFFFFF;padding-right: 0.5em;}
img{width: 3em;margin:1em 0.5em;}
.des{color: #969696;font-size: 0.9em;margin-top: 0.5em;margin-bottom: 1em;}
.tz{ height: 1.2em;width: 1.2em; border: 1px solid #f14241;border-radius:50%;background: #f14241;top: 0.3em;right: 0.3em; position:absolute;color: #FFFFFF;}
.xbk{border-bottom: 1px solid #d2d2d2;}
